@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-nav{
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 10px;

}
.logoandname{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.span-app{
    text-transform: none;
}

.nav-body{
    animation: shownav 0.5s ease-in-out forwards;

}

@keyframes shownav {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}