nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    /* animation: shownav 0.5s ease-in-out forwards; */
}



.body-app{
    overflow-x: hidden;
    overflow-y: hidden;
}
.body-mobile{
    display: none;
    visibility: hidden;
}
@media screen and (max-width: 786px) {
    .body-app{
        visibility: hidden;
        display: none;
    }
    .body-mobile{
        overflow-x: hidden;
        overflow-y: hidden;
        display: block ;
        visibility: visible;
    }
    
}